



/* Header Section */
/* nav bar  */
.header-nav{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: fixed;
}
.header-nav nav a{
    text-decoration: none;
    color: black;

}
/* nav bar end */

/* Header Hero Section */

.heroimg{
    background: url("assest/img/1.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-img-text{
    font-weight: 700;
    width: 400px;
}

/* Header Section End */


/* Main  Section */

/* main top img */
.main-right-img{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/2.jpg');
    width: 50%;
    height: 65vh;
    background-position: center center;
    background-repeat: no-repeat;


}
.main-left-img{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/3.jpg');
    width:43%;
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px ;
}
.main-left-img2{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/4.jpg');
    width:43%;
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px ;
}
.main-left-img3{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/5.jpg');
    width:43%;
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px ;
}
.main-left-img4{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/6.jpg');
    width:43%;
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 10px ;
}

/* card sec */
.main-card{
    background-color: rgb(247, 247, 247);
    margin-top: 5rem;
}


/* Main  Section end*/

/* foorer section */

.footer-hero{
    background-image: linear-gradient(to right, rgba(26, 25, 25, 0.363) , rgba(27, 26, 26, 0.363)), url('assest/img/11.jpg');
    height: 50vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.subscribe button{
    flex: 0 0 125px; border-radius: 0 !important;
}
.subscribe input{
    flex: 0 0 125px; border-radius: 0 0 0 0 !important;
    width: 20rem;
}
.gap{
    width: 100%;
    height: 5rem;
}
/* foorer section  end*/

